<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-toast [style]="{marginTop: '80px'}" position="top-left" key="tl"></p-toast>

<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>

<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" position="bottom-center" [showTransformOptions]="'translateX(-100%)'"></p-toast>

<form class="example-form" [formGroup]="ticketForm">
  <h2 mat-dialog-title class="mmatdiagtitle">تغییر رمز عبور</h2>
  <mat-form-field class="col-md-12 ml-10">
    <input matInput formControlName="oldpassword" type="password" placeholder="رمز عبور فعلی *" />
    <mat-error
      *ngIf="
        ticketForm.get('oldpassword').hasError('required') &&
        ticketForm.get('oldpassword').touched
      "
      >این فیلد نمیتواند خالی باشد</mat-error
    >

    <mat-error
      *ngIf="
        ticketForm.get('oldpassword').hasError('maxlength') &&
        ticketForm.get('oldpassword').touched
      "
    >
      این فیلد نمیتواند بیشتر از 50 کاراکتر باشد</mat-error
    >
    <mat-error
      *ngIf="
        ticketForm.get('oldpassword').hasError('minLength') &&
        ticketForm.get('oldpassword').touched
      "
    >
      این فیلد نمیتواند کمتر از 7 کاراکتر باشد</mat-error
    >
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input matInput formControlName="newpassword" type="password" placeholder="رمز عبور جدید *" />
    <mat-error
      *ngIf="
        ticketForm.get('newpassword').hasError('required') &&
        ticketForm.get('newpassword').touched
      "
      >این فیلد نمیتواند خالی باشد</mat-error
    >

    <mat-error
      *ngIf="
        ticketForm.get('newpassword').hasError('maxlength') &&
        ticketForm.get('newpassword').touched
      "
    >
      این فیلد نمیتواند بیشتر از 50 کاراکتر باشد</mat-error
    >
    <mat-error
      *ngIf="
        ticketForm.get('newpassword').hasError('minLength') &&
        ticketForm.get('newpassword').touched
      "
    >
      این فیلد نمیتواند کمتر از 7 کاراکتر باشد</mat-error
    >

  </mat-form-field>
  <button
    mat-raised-button
    (click)="onSubmit()"
    [disabled]="ticketForm.invalid"
    color="green"
    class="float-left mb-10"
  >
    <i class="icon-check"></i>
    <span>ذخیره</span>
  </button>
</form>

