<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">افزوده پیوست فایل</h5>
    </div>
 
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">فرم افزودن پیوست فاکتور شماره {{Factoridid}}</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form>
                            
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">توضحیات</label>
                                <textarea class="form-control" rows="5" (change)="doTextareaValueChange($event)">{{dstr}}</textarea>
                            </div>
                           
                            
                            <div class="form-group mb-30">
                                <label class="control-label mb-10 text-left">انتخاب فایل</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon fileupload btn btn-info btn-anim btn-file"><i class="fa fa-upload"></i> <span class="fileinput-new btn-text">انتخاب</span> <span class="fileinput-exists btn-text">تعویض</span>
                                    <input type="file" name="..." (change)="onFileSelected($event)">
                                    </span> <a href="#" class="input-group-addon btn btn-danger btn-anim fileinput-exists" data-dismiss="fileinput"><i class="fa fa-trash"></i><span class="btn-text"> حذف</span></a> 
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <button type="button" (click)="onUpload()" class="btn btn-success btn-anim"><i class="icon-rocket"></i><span class="btn-text">ارسال فایل</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>