<li class="friend">
  <div class="friend-msg-wrap">
    <img class="user-img img-circle block pull-left"  src="assets/dist/img/user.png" alt="user"/>
    <div class="msg pull-left">
      <p>سلام ، روز بخیر</p>
      <div class="msg-per-detail text-right">
        <span class="msg-time txt-grey">2:30 PM</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</li>
<li class="self">
  <div class="self-msg-wrap">
    <div class="msg block pull-right"> سلام روز شما هم بخیر
      <div class="msg-per-detail text-right">
        <span class="msg-time txt-grey">2:31 pm</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</li>
