/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.g-box{direction: ltr !important;}
.ng-star-inserted{padding-right: 1em;}
.ui-table-wrapper{
    padding-right: 0 !important;
  }
  .mat-dialog-container{
    background-color: white !important;
    color: #0000;
  }
  h2 ,h1,h3,h4,h5,h6{
    font-family: IRANSans !important;
  }
  .mat-select-value{
    color: black !important;
  }
  .mat-input-element{
    color: black !important;
  }
